<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mapper.NoteMapper">


    <select id="selectPublicNoteList" resultType="com.shiyi.vo.ApiNoteListVO">
        select n.content,n.id,n.user_id,n.create_time,ui.avatar,ui.nickname,c.name as categoryName from b_note n
        left join b_user u on n.user_id=u.id
        left join b_user_info ui on ui.id = u.user_info_id
        left join b_category c on n.category_id = c.id where n.status = 1
        <if test="categoryId != null">
            and n.category_id = #{categoryId}
        </if>
        <if test="userId != null">
            and n.user_id = #{userId}
        </if>
        order by n.create_time desc
    </select>
    <select id="selectSystemNoteList" resultType="com.shiyi.vo.SystemNoteListVO">
        select n.content,n.id,n.status,n.create_time,ui.nickname,c.name as categoryName from b_note n
        left join b_user u on n.user_id=u.id
        left join b_user_info ui on ui.id = u.user_info_id
        left join b_category c on n.category_id = c.id
        order by n.create_time desc
    </select>
</mapper>
